* {
    /* box-sizing: border-box; */
}

.calendar {
    margin: auto;

}
header {
    color: black;
    text-align: center;
}
h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}
span {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lavender;
    text-align: center;
    
   
}
.textarea {
   width: 550px;
   height: 50px;
}
/* calendar rows */
.save {
    background-color: black;
    color: white;
    padding: 10px;
}
.number {
    font-size: 30px; 
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: lavender;
    border: solid black 1px;
    text-align: center;
}
.day {
    background-color: lavender;
    padding: 10px;
}
.row {
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}
.past {
    background-color: lightblue;
    color: black;
  }
  
  .present {
    background-color: #ff6961;
    color: black;
  }
  
  .future {
    background-color: #77dd77;
    color: black;
  }
  #day, #date {
      color: black;
  }